body {
  margin: 0px;
}

.parent-nav {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: rgb(31, 84, 84);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.nav-part {
  width: 100px;
  height: 50px;
  background-color: rgb(55, 205, 208);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec {
  /* border: 1px solid black; */
  margin-top: 110px;
  width: 100%;
  height: 100%;
  /* background-color: rgb(217, 209, 246); */
  display: flex;
  justify-content: space-around;
}
.sec-left,
.sec-mid,
.sec-right {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.para,
.para-mid,
.para3,
.para-stick {
  margin: 0px;
  border: 2px solid black;
  width: 150px;
  height: 250px;
  background-color: rgb(135, 239, 109);
  display: flex;
  justify-content: center;
  align-items: center;
}
.para-mid {
  width: 500px;
  background-color: rgb(31, 84, 84);
}

.para-stick {
  position: sticky;
  top: 100px;
  background-color: rgb(135, 239, 109);
}

#para-mid-stick {
  position: sticky;
  background-color: rgb(135, 239, 109);
  top: 100px;
  z-index: 2;
}
.para-mid-first {
  position: relative;
  width: 500px;
  background-color: rgb(31, 84, 84);
  height: 250px;
}

#para-mid-first {
  position: absolute;
  border: 2px solid black;
  top: 50px;
  padding: 10px;
  background-color: rgb(135, 239, 109);
}
